#! /bin/sh
#CURDIR=""
ORIGIN="cybersecii.github.io"
REPONAME="KerbrosXenial.github.io"
REPODESC="Repository for Kerberos, a system for penetration testing."
CODENAME="xenial"
REPOARCH="amd64 i386 armhf source"
POLICY="main"
KEY="79C31997"
OVERRIDE="override.xenial"
SKIP_INDEX="NO"